<nav class="nav">
  <ul class="navlist">
    <li class="navlist__item"><a routerLink='/' class="navlist--link">Home</a></li>
    <li class="navlist__item"><a routerLink='/rhymes-creator' class="navlist--link">Let's rhyme!</a></li>
    <li class="navlist__item"><a routerLink='/lyrics-editor' class="navlist--link">Write lyrics</a></li>
    <li class="navlist__item"><a routerLink='/lyrics-base' class="navlist--link">Get lyrics</a></li>
    <li class="navlist__item"><a routerLink='/book-of-rhymes' class="navlist--link">Book of rhymes</a></li>
    <li class="navlist__item"><a routerLink='/create-account' class="navlist--link">Create account</a></li>
    <li class="navlist__item"><a routerLink='/login' class="navlist--link">Log in</a></li>
  </ul>
</nav>
