<div class="lyrics-content">
  <form class="lyrics-editor">
    <label>Title</label>
    <input type="text" />
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
  </form>
  <div class="lyrics-panel">
    <button>Add title</button>
    <button>Add verse</button>
    <button>Add chorus</button>
    <button>Add intro</button>
    <button>Add outro</button>
    <button>Save lyrics</button>
    <button>Edit lyrics</button>
    <button>Add song details</button>
  </div>
</div>
