.lyrics-content {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  color: white;
}

.lyrics-editor {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.lyrics-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
}
